
@{
    ViewBag.Title = "_Exception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>Unknown Error Occured please contact admins</p>
    @Html.ActionLink("Back to Home Page", "Index", "Products")
</div>